<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <global-method-security secured-annotations="enabled">
    </global-method-security>

    <http auto-config="true" access-denied-page="/auth/denied" use-expressions="true">
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/favicon.ico" access="permitAll" />
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
        <intercept-url pattern="/equipments/**" access="hasRole('ROLE_ADMIN')" />


        <form-login
                login-page="/login"
                default-target-url="/sptor"
                authentication-failure-url="/login?error"
                username-parameter="ssoid"
                password-parameter="password" />
        <logout logout-success-url="/login?logout"  />

    </http>

    <authentication-manager >
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder hash='sha-256'/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="customUserDetailsService" class="com.diplom.sptor.service.CustomUserDetailsService" />

    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <beans:constructor-arg value="256"/>
    </beans:bean>

</beans:beans>